[submodule "modules/datasets/komparo/dyntoy"]
	path = modules/datasets/komparo/dyntoy
	url = git@github.com:komparo/tde_dataset_dyntoy.git
[submodule "modules/methods/komparo/random"]
	path = modules/methods/komparo/controls
	url = git@github.com:komparo/tde_method_controls.git
[submodule "modules/metrics/komparo/dummy"]
	path = modules/metrics/komparo/classification
	url = git@github.com:komparo/tde_metric_classification.git
[submodule "modules/reports/komparo/dummy"]
	path = modules/reports/komparo/dummy
	url = git@github.com:komparo/tde_report_dummy.git
[submodule "reports"]
	path = reports
	url = git@github.com:komparo/tde_reports.git
